

  <fa-icon [icon]="faFilePdf" class="csv-icon" (click)="download()"></fa-icon>
<br/>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select" >
    <th mat-header-cell *matHeaderCellDef >
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row" class="test">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="title" >
    <th mat-header-cell *matHeaderCellDef class="header-column"> Titre </th>
    <td mat-cell *matCellDef="let element" class="test"> {{element.titre}} </td>
  </ng-container>

  <!-- Text Column -->
  <ng-container matColumnDef="text" >
    <th mat-header-cell *matHeaderCellDef class="header-column"> Recette </th>
    <td mat-cell *matCellDef="let element" class="test"> {{element.recette}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table>