table {
    width: 100%;
  }

.csv-icon {
    font-size: 1.5em;
    color:  red;
    cursor: pointer;
    border: 10px ;
  padding: 10px;
}

.header-column {
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
}

.test{
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
}