/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red-snackbar {
    background: rgb(255, 2, 36);
    color: white;
  }

  .mat-simple-snackbar-action{
      color: white;
  }
